*{
    font-family: Vazirmatn, sans-serif;
}
body {
    direction: rtl;
    background-color: #353535;
}
input::placeholder {
    text-align: center;
}

input {
    margin: 15px 0;
    color: #f5f5f5!important;
    border: 1px solid #505050!important;    
}
.card{
    background-color: #252525;
    color: #f5f5f5;
}
.icon {
    position: absolute;
    left: 6%;
    top: 37%;
    font-size: 18px;
    color: #c7c7c7;
    transition: 0.3s linear;
}
.pointer {
    cursor: pointer;
}
.pointer:hover {
    color: #b1b1b1;
}
.btn-primary {
    background-color: #1d2549;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #252f5e;
}

img {
    padding: 6px;
    background-color: #e0e0e0;
    border: 4px solid #353535;
    width: 64px;
    height: 64px;
}

.navbar{
    background-color: #232323!important;
    color: #f5f5f5;
}
.navbar-brand ,.nav-link{
    color: #f5f5f5;
}
.navbar-brand:hover , .nav-link:hover{
    color: #ccc;
}

.navbar-toggler{
    background-color:#e0e0e0!important;
}

#fp-text{
    font-size: 12px;
    color: #ccc;
}

#fp-input , r-input{
    color: #232323!important;
}

#rp-form input{
    color: #232323!important;

}